body {
    margin: 0;
}

#cg_panel {
    height: 80%;
    background-color: plum;
    display: flex;
    justify-content: center;
}

#cg_ciphertext {
    background-color: lightskyblue;
    width: 3.5in;
    height: 100%;
}

#cg_ciphertext > textarea {
    width: 95%;
    height: 95%;
    margin-left: 2.5%;
    margin-top: 2.5%;
}

#cg_map {
    background-color: lavender;
    height: 100%;
    overflow-y: auto;
}

#cg_map > .cg_map_grid {
    display: grid;
    grid-template-columns: 1.5em auto 1.5em;
    padding-right: 10px;
}

/* Color every other row */
.cg_map_grid > :nth-child(6n+1), .cg_map_grid > :nth-child(6n+2) {
    background-color: paleturquoise;
}

/* Ciphertext glyphs */
.cg_map_grid > :nth-child(3n+1) {
    text-align: center;
}

/* Frequency numbers */
.cg_map_grid > :nth-child(3n+2) {
    text-align: right;
    padding-right: 10px;
    padding-left: 5px;
}

.cg_map_grid > input {
}

#cg_plaintext {
    background-color: seagreen;
    width: 3.5in;
    height: 100%;

    overflow-y: auto;
}

#cg_plaintext > span {
}

#cg_plaintext p {
    background-color: ivory;
}

.cg_buttons {
    display: flex;
    padding-top: 5px;
}

.cg_leftie {
    flex: 1 50%;
    background-color: seagreen;
    display: flex;
    justify-content: right;
}

.cg_rightie {
    flex: 1 50%;
    background-color: lightskyblue;
    display: flex;
    justify-content: left;
}

.cg_leftie > * {
    margin-right: 8px;
}

.cg_rightie > * {
    margin-left: 8px;
}

.cg_checkbox {
    border: 1px;
    border-color: black;
    border-style: solid;
    background-color: ivory;
    padding-right: 3px;
}
