body {
    margin: 0;
    background-color: #4fc3f7; /* Material Light Blue 300 */
}

#cg_panel {
    height: 80%;
    margin-top: 8px;
    display: flex;
    justify-content: center;
}

#cg_ciphertext {
    width: 3.5in;
    height: 100%;
}

#cg_ciphertext > textarea {
    width: 100%;
    height: 100%;
    margin: 0;
}

#cg_map {
    height: 100%;
    overflow-y: auto;
}

#cg_map > .cg_map_grid {
    display: grid;
    grid-template-columns: 1.5em auto 1.5em;
    padding-right: 10px;
}

/* Color every other row */
.cg_map_grid > :nth-child(6n+1), .cg_map_grid > :nth-child(6n+2) {
    background-color: #81d4fa; /* Material Light Blue 200 */
}

/* Color every other row */
.cg_map_grid > :nth-child(6n+4), .cg_map_grid > :nth-child(6n+5) {
    background-color: #039be5; /* Material Light Blue 600 */
}

/* Ciphertext glyphs */
.cg_map_grid > :nth-child(3n+1) {
    text-align: center;
}

/* Frequency numbers */
.cg_map_grid > :nth-child(3n+2) {
    text-align: right;
    padding-right: 10px;
    padding-left: 5px;
}

#cg_plaintext {
    background-color: white;
    width: 3.5in;
    height: 100%;

    color: #757575; /* Material Gray 600 */

    overflow-y: auto;
}

#cg_plaintext p {
    margin-left: 4px;
    margin-right: 4px;
}

.cg_deciphered {
    color: black;
}

.cg_button_panel {
    display: flex;
    padding-top: 8px;
}

.cg_leftie {
    flex: 1 50%;
    display: flex;
    justify-content: right;
    padding-right: 4px;
}

.cg_rightie {
    flex: 1 50%;
    display: flex;
    justify-content: left;
    padding-left: 4px;
}

.cg_leftie > * {
    margin-left: 8px;
}

.cg_rightie > * {
    margin-right: 8px;
}

.cg_button {
    background-color: #1e88e5; /* Material Blue 600 */
    height: 36px;
    min-width: 64px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px;
    border-style: none;
    color: black;
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cg_button:hover {
    background-color: #2196f3; /* Material Blue 500 */
}

.cg_button:active {
    background-color: #42a5f5; /* Material Blue 400 */
}

.cg_button > input {
    margin-left: 0;
    margin-right: 6px;
}
